/* @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: "Poppins", sans-serif;
}

.main{
    background-image: url("assests/image/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    min-height: 70vh;
    height: auto;
    position: relative;
    
}

.main .box{
    min-height: 70vh;
    width: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: black;
}

nav{
    display: flex;
    height: 80px;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

nav img{
   width: 134px;
   position: relative;
   z-index: 10;

}

nav button{
    position: relative;
    z-index: 10;
}

.hero{  
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 24px;
    padding: 0 30px;
}

.hero > :nth-child(1){
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero > :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero > :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.seperation{
    height: 6px;
    background-color: rgb(64, 63, 63);

}

.btn{
    font-family: "Poppins", sans-serif;
    padding: 4px 9px;
    font-weight: 500;
    background: rgb(38 36 36 / 80%);
    border: 1px solid #ffffff61;
    border-radius: 2px;
    cursor: pointer;
    color: white;
}

.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 4px;
}

.red-btn{
    background-color: red;
    color: white;       
}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.main input{
    color: white;
    padding: 5px 15px 6px 15px;
    font-size: 18px;
    font-weight: 900;
    border-radius: 4px;
    border: 1px solid rgb(248, 244, 244, 0.5);
    background-color: rgba(23, 23, 23, 0.7);
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    color: white;
}

.secimg{
    position: relative;
}

.secimg img{
    width: 100%;
    max-width: 555px;
    position: relative;
    top: 15px;
    z-index: 10;

}

.secimg video{
    position: absolute;
    top: 118px;
    left: 70px;
}

section.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first > div :first-child{
    font-size: 48px;
    font-weight: bolder;
}

.first > div :nth-child(2){
    font-size: 24px;
}

.secvideo{
    position: relative;
}

.secvideo img{
    width: 100%;
    max-width: 580px;
    position: relative;
    top: 15px;
    z-index: 10;
}

.secvideo video{
    width: 457px;
    height: 217px;
    position: absolute;
    top: 87px;
    left: 58px;
}

.faq h2{
    text-align: center;
    font-size: 48px;
}

.faq{
    background-color: black;
    color: white;
    padding: 34px;
}

.faqbox:hover{
    background-color: #414141;
    color: white;
}

/* .faqbox svg{
    filter: inver(1);
} */

.faqbox{
    transition: all 1s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: rgb(45, 45, 45);
    color: white;
    padding: 20px;
    width: 100%;
    max-width: 900px;
    font-size: 24px;
    margin: 17px auto;
    cursor: pointer;
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .que{
    padding: 34px 0;
}

footer a{
    color: white;
    font-size: 14px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 24px;
}


@media screen and (max-width: 900px){
    .first{
        flex-direction: column;
        text-align: center;
    }
    
    .hero-buttons{
        flex-direction: column;
    }
}

@media screen and (max-width: 600px){
    .hero > :nth-child(1){
        font-size: 32px;
    }

    .first > div :first-child{
        font-size: 32px;
    }

    .first > div :nth-child(2){
        font-size: 18px;
    }
}